* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
    color: #e63946;
    text-decoration: underline;
    padding: 4px;
    transition: ease;
}

#nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

#nav-icons button {
    background-color: #421d03;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 80vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 8px rgba(0,0,0,0.7);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.products-section {
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 12px rgb(163, 143, 143);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.price {
    color: #e63946;
    font-weight: bold;
    margin: 10px 0;
}

.add-to-cart {
    background: black;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #e63946;
}

.footer {
    background: black;
    color: whitesmoke;
    padding: 50px 20px 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto 30px;
}

.footer a {
    color: whitesmoke;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 16px;
    font-size: 14px;
}

.footer a:hover {
    color: #e63946;}